# qt source directory
src/qt/.*
temp-src
build
src/moc
src/obj
src/uic

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile*
build-*
*.stash

.nvimrc
Session.vim
*.cmd